<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="tigranparemuzian@gmail.com">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:url" content="http://www.iphone-remont.services/">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Vendor CSS -->
        <meta property="og:type" content="website">
        <meta name="yandex-verification" content="7453a642cb07417e" />
        <meta name="google-site-verification" content="DmjWyvlQDtfxFhlLmrxD8CiKFIy5JU9FthLtRltoScM" />
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Poppins:300,400,500,600" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    {% endblock %}
    <title>{% block title %}rental-ufa.ru!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('template/vendor/reset.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('template/vendor/bootstrap/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('template/vendor/ion-icons/ionicons.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('template/vendor/owl-slider/owl.carousel.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('template/vendor/slideshow/slideshow.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('template/vendor/lightbox/lity.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('template/css/theme6.css') }}"/>

        <script src="{{ asset('template/vendor/modernizr.js') }}"></script>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<!-- Scroll up -->
<div class="scrollup">
    <i class="ion-ios-arrow-up"></i>
</div>


<!-- Main Container -->
<div class="web-in">
    {% block serach %}

    {% endblock %}

    {% block navbar %}
        <!-- Navigation -->
        <nav id="dark" class="transparent start-light regular">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-ui n_">
                            <div>
                                <div id="menu-icon"><span></span></div>
                            </div>
                        </div>
                        <div class="logo-holder n_">
                            <div>
                                <a href="{{ path('homepage') }}">
                                    <img class="logo" src="{{ asset('template/img/logo.png') }}" alt="logo">
                                    <img class="logo alt" src="{{ asset('template/img/logo.png') }}" alt="logo2">
                                </a>
                            </div>
                        </div>
                        {#<div class="nav-content n_">
                            <ul>
                                <li><a href="{{ app.request.get('_route') == 'homepage' ? '' : path('homepage') }}">Главное</a></li>
                                <li><a href="{{ app.request.get('_route') == 'fos_user_security_login' ? '' : path('fos_user_security_login') }}#c_contact">Логин</a></li>
                            </ul>
                        </div>#}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </nav>

    {% endblock %}

    {% block slyder %}
        <header id="sp2" class="center parallax-container dark" data-overlay="9">
            <div class="parallax"><img src="{{ asset('template/img/contact/header2.jpg') }}" alt=""></div>
            <div class="header-in">
                <div class="caption">
                    <h5>Добро Пожаловать</h5>
                    <h1>Rental Ufa</h1>
                    {#<h3>Вы экономите свое время с поиска, нервы от всего процесса аренды жилья без посредников и риэлтеров.</h3>#}
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block contact %}

    {% endblock %}
    {% block footer %}

    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('template/vendor/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ asset('template/vendor/matchHeight-min.js') }}"></script>
    <script src="{{ asset('template/vendor/contact/validator.js') }}"></script>
    <script src="{{ asset('template/vendor/contact/contact.js') }}"></script>
    <script src="{{ asset('template/vendor/pace.min.js') }}"></script>
    <script src="{{ asset('template/vendor/headroom/headroom.min.js') }}"></script>
    <script src="{{ asset('template/vendor/owl-slider/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('template/vendor/slideshow/anime.min.js') }}"></script>
    <script src="{{ asset('template/vendor/slideshow/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('template/vendor/slideshow/main.js') }}"></script>
    <script src="{{ asset('template/vendor/parallax/materialize.min.js') }}"></script>
    <script src="{{ asset('template/vendor/lightbox/lity.min.js') }}"></script>
    <script src="{{ asset('template/vendor/tabs/jquery.tabslet.min.js') }}"></script>
    <script src="{{ asset('template/vendor/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('template/js/main.min.js') }}"></script>

{% endblock %}
</body>
</html>
